$bodyBg: #edefff;
$mainBg: #fff;
$mainColor: #6734ff;
$txtColor: #444444;
$purple: #6734ff;
$orange: #fff066;
$white: #fff;
$black: #000;
$green: #799dff;
$red: #ff0000;

$fontFamily: 'Roboto', sans-serif;

$fontSizeNormal: 1rem;
$fontSizeMedium: 1.1rem;
$fontSizeLarge: 1.2rem;

$sideBarWidth: 240px;
$sideBarLogoHeight: 171px;
$spacing: 30px;
$mobileSpacing: 20px;
$borderRadius: 20px;

$mobile-width: 600px;
$tablet-width: 1250px;
